# Documentaion build {{ role_name|basename }}
{% if ansible_date_time.date is defined %}
# Generated {{ ansible_date_time.date }}
{% endif %}
# Documentaion for {{ inventory_hostname|lower }}
# Managed by Ansible


## VM Table

| VM Name | CPU | Memory | Disk Size | Storage | Network (vnet) | template |
| --- | --- | --- | --- | --- | --- | --- | --- |
|{{ inventory_hostname |lower }}|{{ vm_cpu }}|{{ vm_memory }}|{{ vm_disksize }} | {{ vm_datastore }} | {{ vm_network }}|{{ vm_template }} |